<% if current_or_guest_user %>
<%= form_for(@list) do |f| %>
    <% if @list.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@list.errors.count, "error") %> prohibited this list from being saved:</h2>
  
        <ul>
          <% @list.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <a href="javascript:toggleDiv('tag');" >Add Tags </a>&nbsp&nbsp&nbsp&nbsp
    <a href="javascript:toggleDiv('ddl');" >Add Deadline </a>&nbsp&nbsp&nbsp&nbsp
    <div class="form-inline">
        <%= f.text_field :description, placeholder: "todo", size: 35, class: "form-control mr-sm-2",  :required => 'required' %>
        <div id = "tag"><%= f.text_field :tag_list, placeholder: "tags (separated by commas)", size: 23, class: "form-control mr-sm-2" %></div>
        <div id = "ddl">
          <%= f.date_field :ddl, size: 10, class: "form-control mr-sm-2" %>
        </div>
        <%= f.submit "Add", class: 'btn btn-outline-secondary my-2 my-sm-0',  :required => 'required' %>
    </div>
  <% end %>
  <% end %>

  <! –– toggle the display ––> 
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
<script type="text/javascript">
function toggleDiv(divId) {
   $("#"+divId).toggle();
}
</script>