<% if current_or_guest_user %>
<%= form_for(@list) do |f| %>
    <% if @list.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@list.errors.count, "error") %> prohibited this list from being saved:</h2>
        <ul>
          <% @list.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <h3>
    <div class="form-inline">
        <%= f.text_field :description, placeholder: "Add task", size: 15, class: "form-control mr-sm-2",  autofocus: false, :required => 'required' %>
        <%= f.submit "Add", class: 'btn btn-outline-secondary my-2 my-sm-0',  :required => 'required' %>&nbsp
        <h5>Optional:</h5>&nbsp
        <%= f.text_field :tag_list, placeholder: "tags (separated by commas)", size: 30, class: "form-control mr-sm-2",  autofocus: false %>
        <%= f.date_field :ddl, class: "form-control mr-sm-2",  autofocus: false %>
 
    </div>
    </h3>
  <% end %>
  <% end %>
