<nav class="navbar navbar-expand-lg navbar-light">
<h2><%= link_to 'To-Do-List', lists_path %></h2>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
    </ul>   
  </div>

  <% if current_user %>
    <%= link_to "Edit Account", edit_user_registration_path(current_user)%> &nbsp&nbsp&nbsp&nbsp
    <%= link_to 'Sign out', destroy_user_session_path,
method: :delete %> &nbsp&nbsp&nbsp&nbsp
  <% end %>
  <% if guest_user && !current_user %>
    <h6><%= link_to 'Sign up', new_user_registration_path %>&nbsp&nbsp&nbsp&nbsp
    <%= link_to 'Sign in', new_user_session_path %></h6>
  <% end %>
</nav>