<%= render 'lists/navbar' %>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"/>
<! –– display add item form ––> 
<% if current_or_guest_user %>
  <p><%= render 'form_index' %></p>
  <% if !params[:tag] %>
    <%= render 'search' %>
  <% end %>
  <span>
  <%= link_to 'Back', lists_path %>&nbsp&nbsp&nbsp&nbsp 
  <%= sort_link(@q, :description) %>&nbsp&nbsp&nbsp&nbsp
  <%= sort_link(@q, :ddl) %>&nbsp&nbsp&nbsp&nbsp
  <% if params[:tag] %>
  <% else %>
    <%= link_to 'Delete Marked Items', home_trash_em_path, data: { confirm: 'Are you sure?' } %> &nbsp&nbsp&nbsp&nbsp
    <%= link_to 'Delete All Items', home_trash_em_all_path, data: { confirm: 'Are you sure?' } %> &nbsp&nbsp&nbsp&nbsp
    </span>
  <% end %>
<% end %> 
<p>
  <h3>
    Ongoing Task
  </h3>
</p>
<table class = "table table-bordered"> 
<tbody>
    <% @lists.each do |list| %>  
      <% if !list.ddl %>
        <% if list.completed && current_or_guest_user && list.user == current_or_guest_user  %>
      <tr class = "table-secondary">
      <td class = "striker"><%= link_to list.description, edit_list_path(list) %></td>
      <td class = "striker"></td>
      <td class = "striker"><p><%= raw list.tag_list.map{ |t| link_to t, tag_path(t) }.join(', ') %></p></td>
      <td>
        <center>
          <%= form_for(list) do |f| %>
          <%= f.text_field :description, type: 'hidden'  %>
          <% f.date_field :ddl, type: 'hidden'  %>
          <%= f.check_box :completed, :checked => false, :style => 'visibility: hidden'%>
          <%= f.submit "Uncross", class: 'btn btn-outline-secondary btn-sm' %>      
          <% end %>
        </center>
      </td>
      <td><%= link_to 'Delete', list, class: 'btn btn-outline-danger btn-sm', method: :delete, data: { confirm: 'Are you sure?' } %></td>
            <% else %>
              <% if current_or_guest_user && list.user == current_or_guest_user %>
            <tr>
            <td><%= link_to list.description, edit_list_path(list) %></td> 
            <td></td>
            <td><p><%= raw list.tag_list.map{ |t| link_to t, tag_path(t) }.join(', ') %></p></td>
            <td>
              <center>
                <%= form_for(list) do |f| %>
                <%= f.text_field :description, type: 'hidden'  %>
                <%= f.date_field :ddl , type: 'hidden'  %>
                <%= f.check_box :completed, :checked => true, :style => 'visibility: hidden'%>
                <%= f.submit "Cross Off", class: 'btn btn-outline-secondary btn-sm' %>
              </center>
            </td>
            <td><%= link_to 'Delete', list, class: 'btn btn-outline-danger btn-sm', method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
            <% end %>
            <% end %>
            <% end %>
      <% else %>
      <% if list.completed && list.ddl >= Date.yesterday %>
      <% if current_or_guest_user && list.user == current_or_guest_user %>
      <tr class = "table-secondary">
        <td class = "striker"><%= link_to list.description, edit_list_path(list) %></td>
        <td class = "striker"><%= link_to list.ddl, edit_list_path(list) %></td>
        <td class = "striker"><p><%= raw list.tag_list.map{ |t| link_to t, tag_path(t) }.join(', ') %></p></td>
        <td>
          <center>
            <%= form_for(list) do |f| %>
            <%= f.text_field :description, type: 'hidden'  %>
            <% f.date_field :ddl, type: 'hidden'  %>
            <%= f.check_box :completed, :checked => false, :style => 'visibility: hidden'%>
            <%= f.submit "Uncross", class: 'btn btn-outline-secondary btn-sm' %>      
            <% end %>
          </center>
        </td>
        <td><%= link_to 'Delete', list, class: 'btn btn-outline-danger btn-sm', method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
        </tr>

      <% else %>
      <%if current_or_guest_user && list.user == current_or_guest_user && list.ddl > Date.yesterday%>
      <tr>
        <td><%= link_to list.description, edit_list_path(list) %></td> 
        <td><%= link_to list.ddl, edit_list_path(list) %></td>
        <td><p><%= raw list.tag_list.map{ |t| link_to t, tag_path(t) }.join(', ') %></p></td>
        <td>
          <center>
            <%= form_for(list) do |f| %>
            <%= f.text_field :description, type: 'hidden'  %>
            <%= f.date_field :ddl , type: 'hidden'  %>
            <%= f.check_box :completed, :checked => true, :style => 'visibility: hidden'%>
            <%= f.submit "Cross Off", class: 'btn btn-outline-secondary btn-sm' %>
          </center>
        </td>
        <td><%= link_to 'Delete', list, class: 'btn btn-outline-danger btn-sm', method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <% end %>
      <% end %>
      <% end %>
      <% end %>
    <% end %>
  </tbody>
</table>

  <h3><a data-toggle="collapse" href="#overdue" role="button" aria-expanded="false" aria-controls="collapse">
    Overdue Task
  </a></h3>
<div class="collapse" id="overdue">
<% if List.where(['ddl < ?', Date.yesterday]).count < 1 %>
  <p><h3>No overdues</h3></p>
<% end %>
<table class = "table table-bordered">
<tbody>
    <% @lists.each do |list| %>  
      <% if list.ddl %>
      <% if list.completed && list.ddl <= Date.yesterday%>
      <% if current_or_guest_user && list.user == current_or_guest_user %>
      <tr class = "table-secondary">
        <td class = "striker"><%= link_to list.description, edit_list_path(list) %></td>
        <td class = "striker"><%= link_to list.ddl, edit_list_path(list) %></td>
        <td class = "striker"><p><%= raw list.tag_list.map{ |t| link_to t, tag_path(t) }.join(', ') %></p></td>
        <td>
          <center>
            <%= form_for(list) do |f| %>
            <%= f.text_field :description, type: 'hidden'  %>
            <% f.date_field :ddl, type: 'hidden'  %>
            <%= f.check_box :completed, :checked => false, :style => 'visibility: hidden'%>
            <%= f.submit "Uncross", class: 'btn btn-outline-secondary btn-sm' %>      
            <% end %>
          </center>
        </td>
        <td><%= link_to 'Delete', list, class: 'btn btn-outline-danger btn-sm', method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
        </tr>

      <% else %>
      <%if current_or_guest_user && list.user == current_or_guest_user && list.ddl <= Date.yesterday %>
      <tr>
        <td><%= link_to list.description, edit_list_path(list) %></td> 
        <td><%= link_to list.ddl, edit_list_path(list) %></td>
        <td><p><%= raw list.tag_list.map{ |t| link_to t, tag_path(t) }.join(', ') %></p></td>
        <td>
          <center>
            <%= form_for(list) do |f| %>
            <%= f.text_field :description, type: 'hidden'  %>
            <%= f.date_field :ddl , type: 'hidden'  %>
            <%= f.check_box :completed, :checked => true, :style => 'visibility: hidden'%>
            <%= f.submit "Cross Off", class: 'btn btn-outline-secondary btn-sm' %>
          </center>
        </td>
        <td><%= link_to 'Delete', list, class: 'btn btn-outline-danger btn-sm', method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <% end %>
      <% end %>
      <% end %>
      <% end %>
    <% end %>
  </tbody>
</div>

<! –– toggle the display ––> 
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript">
function toggleDiv(divId) {
   $("#"+divId)fadeToggle("slow");
}
</script>
