<h1><%= link_to "To-Do-List", lists_path, class: 'navbar-brand' %></nav></h1>
<% if can? :manage, @users %>
  <p>Hello, you are an Admin</p>
  <%= link_to 'Back', lists_path %>
  <table class = "table table-bordered">
  <tr>
    <th>Username</th>
    <th>Email</th>
    <th>Admin</th>
    <th>Last Update</th>
    <th>Delete</th>
  </tr>
  <% for user in @users %>
  <tr>
    <td><%= user.username %></td>
    <td><%= user.email %></td> 
    <td><%= user.admin %></td>
    <td><%= user.updated_at %></td>
    <td><%= button_to "Delete", user, :confirm => "Are you sure?", :method => :delete,  class: 'btn btn-outline-danger btn-sm', method: :delete %></td>
  </tr>  
  <% end %>
</table>
<% else %>
  <p>Hello, you are not an Admin</p>
<% end %>